*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p{
  color:#adaca6;
font-size:0.7rem ;
}

header{

  max-width: 900px;
  margin: 0 auto;

  z-index: 2;

}

i.fa-bars,i.fa-xmark{
  display: none;
}
div.navContainer{
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
 
 
}
div.navContainer li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
div.navContainer li a{
  text-decoration: none;
  font-size: 0.85rem;
}
div.logo-links{
  display: flex;
  align-items: center;
  width: 70%;
  gap: 10%;

}
i.fa-phone{
  color: #ff4400;
  font-size: 1.5vmin;
  margin-right: 5px;
}
a.active{
  color: #ff4400;
}
div.logo h1{
  font-size: 1.7rem;
}
div.logo span{
  color: #ff4400;
}
/* -------------Desigining main component----------------------- */
main{
  max-width: 900px;
  margin: 0 auto;
  height: 543px;
  
}
div.bgimage{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  
}
div.left-content{
  width: 40%;
}
div.bgimage div.left-content p{
  font-size: 0.8rem;
  text-align: left;
  color: #414245;
}
div.right-image{
 
  height: 320px;
  width: 320px;
  border-radius: 50%;
  background-image: url("https://i.pinimg.com/originals/5c/94/0e/5c940e62e1c2db8170992da2059b497f.jpg");
  background-size: cover;
  background-position: center;
}
div.slogan{
  background-color:#FCE0CC ;
  display: inline-block;
  border-radius: 10px;
  padding: 1px 10px;
}
div.slogan span{
  font-size: 0.6rem;
  color:#f56b4c;

}
div.left-content button{
  padding: 10px 20px;
  border:none;
  border-radius: 15px;
  background-color:#3D3568 ;
  color: #fff;
}
div.left-content button i{
  margin-left: 5px;
  color: #fff;
 
}

a.introbtn{
  text-decoration: none;
  font-size: 0.85rem;
  color: #000;
  margin-left: 10px;
}
div.bgimage-btns{
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 7%;


}
div.watchIntrobtn button{
  background-color:#ff4400;
  
}
i.fa-solid{
  margin-bottom: 10px;
}
.fa-play{
  margin-right: 5px;
}
/* choose Us styling */
div.chooseUs{
  
  background-color: #fff;


  
  
}
div.chooseUs-container{
  
  
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  max-width: 900px;
  margin: 0 auto;
  gap:5px;
  position: relative;
  top:-60px;



  
}

div.chooseUs-container i{
  color:#ff4400;
  font-size: 20px;

}
div.strategy{
  background-color: #3D3568;
  padding: 20px;
  border-radius: 10px;
  transition: all;
  transition-duration: 0.5s;
  flex:1 1 20%;
 



}
div.strategy h4{
  color: #fff;
}

div.strategy p{
  color: #D3D5DB;
  font-size: 0.7rem;

}
div.strategy:hover{
  background-color: #ff4400;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.strategy:hover .fa-clock,
.strategy:hover .fa-hand-holding-dollar,
.strategy:hover .fa-lightbulb {
  color: #3D3568;
}
div.experience{
 
  max-width: 900px;
  margin: 10px auto 50px auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;

}
/* div.experience-left{
  width: 45%;
} */

div.experience-left img{
  object-fit: contain;
  width: 22vmin;
 
}
div.experience-right{
 
  width: 50%;
}
div.experience-right h5{
  margin-top: 5px;

}
.experiencehead{
  font-weight: bold;
  margin-top: 5px;
}
div.left-container{
  
  width: 45%;
}
.experincetab{
  
color:#adaca6;
font-size:0.7rem ;

}


div.above-footer div.container{
 
  text-align: center;
  background-color: #3D3568;
  padding: 40px;

}
div.above-footer div.container h3{
  color: #fff;
  margin-top: 8px;
}
div.above-footer div.container div.services-container{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;


}
div.above-footer div.container div.services-container div.service{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
div.above2-footer div.container{
  text-align: center;
  background-color: #fff;
  padding: 40px;

}
div.above2-footer div.container h3{
  color: #000;
  margin-top: 8px;
}
div.above2-footer div.container div.staff-container{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 20px;


}
div.above2-footer div.container div.staff-container div.staff{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 20px;
  border-radius: 10px;
  
}
div.above-footer,div.above2-footer{
  max-width: 900px;
  margin: 0 auto;
}
/* Footer design */
footer{
  max-width: 900px;
  margin: 0 auto;
  background-color:#0E0C1D;
  padding: 0 30px 0 50px;
}
footer div.container{
  padding: 20px;
 
}
div.row{
  display: flex;
  align-items: center;
}
.contact-left{
  flex-basis: 35%;

}
.contact-right{
  flex-basis: 60%;
  
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: #ff4400;
  margin-right: 15px;
  font-size: 25px;

}
.social-icons{
  margin-top: 30px;

}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover{
  color: #ff4400;
  transform: translateY(-5px);
}
.btn.btn2{
  border: none;
  display: inline-block;
  color: #fff;
  background-color: #ff4400;}

  .contact-right form{
    width: 100%;
  
  }
  form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #fff;
    padding: 15px;
    margin: 15px 0;
    color: #000;
    border-radius: 6px;
  
  }
  form .btn2{
    padding: 10px 60px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
  
  
  }
  div.contact-left h1.sub-title{
    color: #fff;
  }
  
 

/* media queries */

@media (max-width:750px){
div.chooseUs-container{
  /* flex-direction: column;
  align-items: center; */
  
  top:60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center;

 
  
  



}
div.strategy{
  width: 50%;
}




div.experience{
 

  display: block;

 
}
div.experience-right{
  margin: 0 auto;
  
}
div.experience-right h5{
  font-size: 0.75rem;
}
.experiencehead{
  font-size: 0.8rem;
}
div.experience-left{
  text-align: center;
}



div.bgimage{
flex-direction: column;
align-items: center;
justify-content: center;

}
div.right-image{
  display: none;
}
div.bgimage .left-content{
  width: 60%;
}
div.bgimage .left-content h3{
  font-size: 1.5rem;


}
div.bgimage-btns{
  margin-top: 40px;
}

main{
  height: 450px;
}
i.fa-bars{
  display: inline-block;
 

}
ul{
  position: fixed;
  right: -240px;
  top: -15px;
  width: 200px;
  height: 100vh;
  padding-top: 50px;
  background-color: #ff4400;

 
}
ul.openmenu{
  right: 0;
}
ul.closemenu{
  right: -240px;
}
div.navContainer li{
  display: block;
  padding: 10px;
 
  
}
div.navContainer li a{
  color: #fff;

}
div.contact-us{
  display: none;

}
div.logo-links{

 
  
  width: 100%;
  justify-content: space-between;
}
i.fa-xmark{
  color:#3D3568;
  display: block;
  position: absolute;
  top: 25px;
  left: 60px;
  
  
  
}
.contact-left,.contact-right{
  flex-basis: 100%;
 

}
div.row{
  flex-direction: column;
  align-items: flex-start;
  
}

div.above-footer div.container div.services-container{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;


}





}

@media (max-width:560px){
  div.above2-footer div.container div.staff-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  
  
  }
  div.chooseUs-container{
    /* flex-direction: column;
    align-items: center; */
    
    top: -30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-items: center;
  
   
    
    
  
  
  
  }

}